


<!DOCTYPE HTML>
<html>
<head>  
	<link rel="stylesheet" href="/stylesheets/app.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/3808de5cb1.js" crossorigin="anonymous"></script>
    
<script>
window.onload = function () {
    var dataPoints = '<%- JSON.stringify(lastScores) %>';
    var dataPointsSage = '<%- JSON.stringify(lastScoresSage) %>';
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: false,
	theme: "light2",
	title:{
		text: "Your progress in the last 10 guess who quizzes"
	},
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: JSON.parse(dataPoints)
	}]
});

var chartSage = new CanvasJS.Chart("chartContainerSage", {
	animationEnabled: false,
	theme: "light2",
	title:{
		text: "Your progress in the last 10 sage tests"
	},
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: JSON.parse(dataPointsSage)
	}]
});
chart.render();
chartSage.render();

}
</script>
</head>
<body>
	<div class="header">
        <a href="/home">
            <img src="/img/back.png" alt="">
        </a>
    </div>
	<div class="container">
    Welcome <%= CurrentUser.name %>
    
	<h3 class="home-head">Your last guess who score was: <%= CurrentUser.scores[CurrentUser.scores.length - 1] %> </h3>
	<h3 class="home-head">Your last sage score was: <%= CurrentUser.sageScores[CurrentUser.sageScores.length - 1] %> </h3>
	<h3 class="home-head">Your highest guess who score: <%= Math.max(...CurrentUser.scores) %> </h3>
	<h3 class="home-head">Your highest sage score: <%= Math.max(...CurrentUser.sageScores) %> </h3>
	<p></p>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>


<div id="chartContainerSage" style="height: 370px; width: 100%;"></div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>