


<!DOCTYPE HTML>
<html>
<head>  
    
<script>
window.onload = function () {
    var dataPoints = '<%- JSON.stringify(lastScores) %>';
    var dataPointsSage = '<%- JSON.stringify(lastScoresSage) %>';
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: false,
	theme: "light2",
	title:{
		text: "Your progress in the last 10 guess who quizzes"
	},
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: JSON.parse(dataPoints)
	}]
});

var chartSage = new CanvasJS.Chart("chartContainerSage", {
	animationEnabled: false,
	theme: "light2",
	title:{
		text: "Your progress in the last 10 sage tests"
	},
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: JSON.parse(dataPointsSage)
	}]
});
chart.render();
chartSage.render();

}
</script>
</head>
<body>
    <h1>Welcome <%= CurrentUser.name %></h1>
    
<h2>Your last guess who score was: <%= CurrentUser.scores[CurrentUser.scores.length - 1] %></h2>
<h2>Your last sage score was: <%= CurrentUser.sageScores[CurrentUser.sageScores.length - 1] %></h2>
<h2>Your highest guess who score: <%= Math.max(...CurrentUser.scores) %> </h2>
<h2>Your highest sage score: <%= Math.max(...CurrentUser.sageScores) %> </h2>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>


<div id="chartContainerSage" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>